<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Notas </title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>

<h1>Formulario de Notas</h1>

<a href="/">volver al menu</a>
<br><br>

<form method="POST" action="/ejercicio1">
    <label>Nota 1:</label><br>
    <input type="number" name="nota1"><br><br>

    <label>Nota 2:</label><br>
    <input type="number" name="nota2"><br><br>

    <label>Nota 3:</label><br>
    <input type="number" name="nota3"><br><br>

    <label>Asistencia (%):</label><br>
    <input type="number" name="asistencia"><br><br>

    <input type="submit" value="Enviar" class="boton-enviar">
</form>

{% if promedio != None %}
<br>
<p>El promedio es: {{ promedio }}</p>
<p>Estado: {{ estado }}</p>
{% endif %}

</body>
</html>
